awscli
catboost==0.20.2
cufflinks==0.17.0
datefinder==0.7.0
datetime
gensim
joblib
kmodes==0.10.1
lightgbm==2.3.1
plotly==4.4.1
pmdarima==1.6.1
matplotlib
mlxtend
mlflow
numpy
nltk
pandas
pandas-profiling==2.3.0
pyLDAvis
pyod
seaborn
scikit-learn==0.23
spacy
shap==0.32.1
statsmodels==0.11.1
textblob
umap-learn
IPython
ipywidgets
yellowbrick==1.0.1
xgboost==0.90
wordcloud