pandas
numpy
seaborn
matplotlib
IPython
joblib
scikit-learn
shap
ipywidgets
yellowbrick
xgboost==0.90
lightgbm==2.3.1
plotly==4.4.1
wordcloud
textblob
cufflinks
umap-learn
pyLDAvis
gensim
spacy
nltk
mlxtend
pyod
catboost==0.20.2