# Base
ipython>=5.5.0
numpy~=1.21  # Can't >=1.22 because of sktime/numba
pandas>=1.3.0, <1.5.0  # Can't >=1.5 because of sktime
scipy~=1.7.3  # Can't >=1.8 due to sktime
joblib~=1.0.1
scikit-learn>=1.0.2
pyod>=0.9.8
imbalanced-learn>=0.8.1
category-encoders>=2.4.0
lightgbm>=3.0.0
numba~=0.55.0

# Plotting
matplotlib>=3.3.0
scikit-plot>=0.3.7
yellowbrick>=1.4
plotly>=5.0.0
kaleido>=0.2.1

# Time-series
statsmodels>=0.12.1
sktime==0.10.1
tbats>=1.1.0
pmdarima>=1.8.0
